.navbar{
    background-color: #cfecf5;   
}
.navbar li a {
    color: #0f7495;
}
body{
    background-color: #faf8f0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500 ;
}
.btn a {
    color: #ffffff;
}
.container ul{
    list-style-type:none
}
.col-sm-4 img{
    width: auto;
    height: 500px;
}
.card{
    margin-bottom: 30px;
}